<h1>Bienvenidos a Perfumería Olivia</h1>
<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}}
      <br />
      <em>{{this.description}}</em>
      <br />
      <small>Categoría: {{this.category}}</small>
      <br />
      <img src="{{this.thumbnails}}" alt="{{this.title}}" />
    </li>
    <hr />
  {{else}}
    <li>No hay productos.</li>
  {{/each}}
</ul>
